*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    height: 100%;
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #0F2027, #203A43,#2C5364 );  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #0F2027, #203A43, #2C5364); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container{
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container .tittle{
    font-size: 2.5rem;
    color: #FFFF;
}
.container .links{
    display: flex;
}
.container .links h2{
    margin: 5px;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.5s;
}
.container .links h2:hover{
    cursor: pointer;
    color: #FFFF;
    font-size: 1.8rem;
    transition: 0.5s;
}
.container .qr_code{
    width: 200px;
    height: 200px;
    background-color: #c6ccce;
    border-radius: 15px;
    margin: 15px;
    box-shadow: 0px 0px 10px #0F2027;
}
.container .qr_code .qr_code_div{
    margin: 15px;
    width: 170px;
    height: 170px;
}
.container .qr_input{
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color:  #909EA3;
    width: 200px;
    box-shadow: 0px 0px 10px #0F2027;
    outline: none;
    color: #FFFF;
    font-size: 1.5rem;
}
.container .qr_p{
    color: #FFFF;
    margin: 15px;
    font-size: 1.5rem;
    text-align: center;
}
.container .qr_wifi{
    padding: 8px;
    border: none;
    border-radius: 8px;
    background-color:  #909EA3;
    width: 200px;
    box-shadow: 0px 0px 10px #0F2027;
    outline: none;
    color: #FFFF;
    font-size: 1.5rem;
    display: none;
}
.container .wifi_p{
    color: #FFFF;
    margin: 15px;
    font-size: 1.5rem;
    text-align: center;
    display: none;
}
#wp_p{
    color: #FFFF;
    margin: 15px;
    font-size: 1.5rem;
    text-align: center;
    display: none;
}
.container .number_div{
    display: flex;
    color: #FFFF;
    font-size: 1.9rem;
}
#number_div{
    display: none;
}
.number_div #indicativo{
    width: 35px;
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color:  #9db9c4;
    outline: none;
    color: #FFFF;
    font-size: 1.5rem;
    margin-right: 3px;
}
.number_div #number_phone{
    width:  130px;
    padding: 8px;
    border: none;
    border-radius: 10px;
    background-color:  #9db9c4;
    outline: none;
    color: #FFFF;
    font-size: 1.5rem;
}
.container .qr_button{
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #0094ce8f;
    color: #FFFF;
    width: 200px;
    margin: 15px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #0F2027;
    transition: 0.5s;
}
.container .qr_button:hover{
    transition: 0.5s;
    background-color:#FFFF ;
    color: #203A43;
}
.container .qr_download{
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #0094ce8f;
    color: #FFFF;
    width: 200px;
    padding: 5px;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #0F2027;
    transition: 0.5s;
}
.container .qr_download:hover{
    transition: 0.5s;
    background-color:#FFFF ;
    color: #203A43;
}
.repo {
    padding: 10px;
    font-size: 1.2rem;
    display: flex;
    justify-content: flex-end;
}
.repo .links{
    color: #FFFF;
    text-decoration: none;
    transition: 0.5s;
    margin: 5px;
}
.repo .links:hover{
    font-size: 1.5rem;
    transition: 0.5s;
}